// src/styles/global.scss
@use 'variables' as *;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: $gray-dark;
  color: $white;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Limitar el ancho del container para que los elementos se vean más contenidos */
.container {
  width: 90%;
  max-width: 1200px; /* Ancho limitado para un look más "contenido" */
  margin: 0 auto;
  padding: 0 1rem;
}
