// src/styles/global.scss
@use 'variables' as *;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: $gray-dark;
  color: $white;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Para dispositivos móviles se desactiva el layout flex en main, de forma que el hero
   adopte solo la altura necesaria según su contenido. */
@media (max-width: 768px) {
  main {
    flex-grow: 0;
    display: block;
  }
}

/* Limitar el ancho del container para que los elementos se vean más contenidos */
.container {
  width: 90%;
  max-width: 1200px; /* Puedes ajustar este valor si lo prefieres más contenido, ej. 960px */
  margin: 0 auto;
  padding: 0 1rem;
}
