@use 'variables' as *;

header {
  background-color: $black;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    img {
      height: 100px;
      width: auto;
    }
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  nav ul li a {
    color: $white;
    text-decoration: none;
    transition: color 0.3s;
  }

  nav ul li a:hover {
    color: $blue;
  }

  .menu-toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0.75rem 0; /* Se reduce ligeramente el padding del header */
    
    .container {
      flex-direction: column;
      align-items: center;
    }

    .logo {
      margin-bottom: 0.5rem;
    }

    .menu-toggle {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background: none;
      border: none;
      font-size: 1.5rem;
      color: $white;
      cursor: pointer;
      margin-bottom: 0.5rem;
    }
    
    nav ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      text-align: center;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease-in-out, transform 0.3s ease, opacity 0.3s ease;
      transform: translateY(-10px);
      opacity: 0;
    }
    
    nav ul.open {
      max-height: 300px;
      transform: translateY(0);
      opacity: 1;
    }

    nav ul li {
      width: 100%;
    }
    
    nav ul li a {
      display: block;
      width: 100%;
      padding: 1rem;
      text-decoration: none;
      color: $white;
      background-color: $black;
      transition: background-color 0.3s;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      text-align: center;
    }
    
    nav ul li a:hover,
    nav ul li a:focus {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
