.store {
  padding: 4rem 2rem;
  background-color: #121212;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

    h1 {
      font-size: 3rem;
      color: #f0f0f0;
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    p {
      font-size: 1.2rem;
      color: #b0b0b0;
      margin-bottom: 2rem;
    }

    .product-link {
      text-decoration: none;
    }

    .products {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 2rem;

      .product {
        background: #1e1e1e;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: translateY(-5px) scale(1.03);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
        }

        img {
          width: 100%;
          height: auto;
          display: block;
          border-bottom: 3px solid #af4fc8; // Acento con el morado rosado
        }

        .product-content {
          padding: 1.5rem;

          h2 {
            font-size: 1.8rem;
            color: #f0f0f0;
            margin-bottom: 0.7rem;
            font-weight: bold;
          }

          p {
            font-size: 1rem;
            color: #b0b0b0;
            line-height: 1.5;
          }

          .price {
            font-size: 1.4rem;
            font-weight: bold;
            color: #af4fc8; // Acá se utiliza el morado rosado para el precio
            margin-top: 0.8rem;
          }
        }
      }
    }
  }
}
