---
import Layout from '../components/Layout.astro';
import "../styles/contact.scss";
---
<Layout>
  <section class="contact">
    <div class="container">
      <h1>Contact Us</h1>
      <p>Connect with us via our social networks:</p>
      <div class="social-links">
        <a href="https://www.youtube.com/@RaveRevolutionBeats" target="_blank" rel="noopener">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://www.instagram.com/raverevolutionbeats" target="_blank" rel="noopener">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.tiktok.com/@raverevolutionbeats" target="_blank" rel="noopener">
          <i class="fa-brands fa-tiktok"></i>
        </a>
        <a href="https://linktr.ee/raverevolutionbeats" target="_blank" rel="noopener">
          <i class="fa-solid fa-link"></i>
        </a>
        <a href="https://www.threads.com/@raverevolutionbeats" target="_blank" rel="noopener">
          <i class="fa-brands fa-telegram-plane"></i>
        </a>
        <a href="https://x.com/RaveRevolutionB" target="_blank" rel="noopener">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </div>
    </div>
  </section>
</Layout>
