---
import '../styles/global.scss';
import '../styles/footer.scss';
---
<footer>
  <div class="container">
    <p>&copy; 2025 Rave Revolution Beats</p>
    <!-- Puedes agregar links de redes sociales aquí -->
  </div>
</footer>
