---
import '../styles/global.scss';
import '../styles/header.scss';
---
<header>
  <div class="container">
    <a href="" class="logo">
      <img src="logo.png" alt="Logo" />
    </a>
    <button class="menu-toggle" aria-label="Toggle Navigation">
      <span class="menu-icon">☰</span>
      <span class="menu-text">Menu</span>
    </button>
    <nav class="nav">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="music">Music</a></li>
        <li><a href="store">Store</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<script client:load>
  const toggleButton = document.querySelector('.menu-toggle');
  const navList = document.querySelector('nav ul');
  toggleButton.addEventListener('click', () => {
    navList.classList.toggle('open');
  });
</script>
