---
import Header from './Header.astro';
import Footer from './Footer.astro';
import CartSidebar from './CartSidebar.astro';
import '../styles/global.scss';
import faviconSvg from '../assets/favicon.svg';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />    <link rel="icon" type="image/svg+xml" href={faviconSvg.src} />
    <title>Rave Revolution Beats</title>
    <!-- CDN de Font Awesome -->
    <script src="https://kit.fontawesome.com/5e60daf075.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <Header />
    <main>
      <slot></slot>
    </main>
    <Footer />
    <CartSidebar />
  </body>
</html>
