---
import Header from './Header.astro';
import Footer from './Footer.astro';
import '../styles/global.scss';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Rave Revolution Beats</title>
  </head>
  <body>
    <Header />
    <main>
      <slot></slot>
    </main>
    <Footer />
  </body>
</html>
